<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of employees">
            <th scope="row">{{a.name}}</th>
            <td>{{a.date}}</td>
            <td>{{a.address}}</td>
            <td>{{a.phone}}</td>
            <td><button type="submit" routerLink="/edit">Edit</button></td>
            <td><button type="submit" routerLink="/delete">Delete</button></td>
          </tr>
          
        </tbody>
      </table>
